<!-- templates/books/book_list.html -->
{% extends "_base.html" %}

{% block title %}Carels{% endblock title %}

{% block content %}
    <!-- TODO : écrire la logique similaire à celle d'affluence -->
     <h1>Salles de travail</h1>
     <h2>BU Lyon 1</h2>
     <p>Pour quel jour</p>
     <p>A partir de quelle heure ? </p>

     <div class="carels-dispos">
        {% for carel in carels_dispos %}
            <p>  {{carel.numero}}, étage {{carel.etage}} </p>
            <p> Carel pour {{carel.nb_places}} personnes </p>
        {% endfor %}
     </div>
{% endblock content %}










